
.description__text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    max-width: 430px;
    min-height: 81px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}