.header__nav-link {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
}

.header__nav-link:nth-child(1) {
    text-decoration: underline;
    color: #121212;
    opacity: .5;
}