.header__nav-link {
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #121212;
    text-decoration: none;
}

.header__nav-link:hover {
    border-bottom: 1px solid #121212;
}