.projects__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 88px auto 150px;
    width: 1150px;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #AD1818;
    text-decoration: none;
}

.projects__link:hover {
    background: #AD1818;
    border: 1px solid #AD1818;
    border-radius: 5px;
    color: #FFFFFF;
    transition: .4s linear;
}