.project-example__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    max-width: 443px;
    font-weight: 400;
    font-size: 30px;
    line-height: 41px;
    color: #FFFFFF;
}