.contacts__phone-number {
    margin-bottom: 30px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #121212;
    text-decoration: none;
}
