.contacts__email {
    position: relative;
    margin-top: 30px;
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
    opacity: 0.5;
    text-decoration: none;
}

.contacts__email::after {
    content: '';
    position: absolute;
    margin-top: 6px;
    width: 100%;
    border: 1px solid #121212;
    opacity: 0.5;
    transform: rotate(180deg);
}
