.project-example {
    position: relative;
    width: 100%;
    height: 717px;
    background-image: url('../../resources/project_example_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}